.bd {
  border: 1px solid red;
}

.dashbrd-container {
  height: 100vh;
  width: 100%;
}

.dashbrd-container .box-1 {
  width: 100%;
  height: 46vh;
}

.dashbrd-container .box-2 {
  width: 100%;
  height: 46vh;
  display: flex;
}

.wid-50 {
  width: 50%;
}

.wid-100 {
  width: 100%;
}

.hei-50 {
  height: 50%;
}

.hei-100 {
  height: 100%;
}

.bd-n {
  border: 1px solid black;
}

.dashbrd-container .change {
  background-color: #eadff8;
}

.dashbrd-container .available-fund {
  background-color: #ffe2d6;
}

.dashbrd-container .bookmark-item {
  background-color: #ffe2d6;
}
